[submodule "daniyal"]
	path = daniyal
	url = https://github.com/Dphilomath/Lowes-LEAP-Codes
[submodule "biplov"]
	path = biplov
	url = https://github.com/pbplop29/LowesLeap
[submodule "antara"]
	path = antara
	url = https://github.com/ElixerofCoding144/Lowe-s-Training-Code
[submodule "samiksha"]
	path = samiksha
	url = https://github.com/Sam-ik-sha/SamikshaYadav_Lowe-s-LEAP.git
[submodule "chetna"]
	path = chetna
	url = https://github.com/chetnaahir/lowes.git
[submodule "stuti"]
	path = stuti
	url = https://github.com/StutiSinghChauhan/Lowe-s-Training.git
[submodule "rohit"]
	path = rohit
	url = https://github.com/rohitk2001/RohitKhandelwal_Lowes_LEAP
[submodule "disha"]
	path = disha
	url = https://github.com/dishasaini01/Lowe-s-LEAP
[submodule "snehashish"]
	path = snehashish
	url = https://github.com/SnehashishRout/Training_codes.git
[submodule "jaspriya"]
	path = jaspriya
	url = https://github.com/jaspriyagujral/LowesLeap

[submodule "utkarsh"]
	path = utkarsh
	url = https://github.com/17mishra/lowes-training
